<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <!-- <script src="main.js" defer></script> -->
</head>
<body>
    <div class="settings">
        <header>
            <h1 id="Title">Unit Converter</h1>
            <div class="unitsTabs">
                <button id="lengthButton"><a href="/length">Length</a></button>
                <button id="weightButton"><a href="/weight">Weight</a></button>
                <button id="temperatureButton"><a href="/temperature" id="selectedTab">Temperature</a></button>
            </div>
        </header>
        <main>
            <form action="/convert-temperature" method="get" target="_self" class="temperatureForm <%= result? 'close' : '' %>">
                <div class="textInput">
                    <label for="unitDigits">Enter the temperature to convert</label>
                    <input type="number" name="unitDigits" id="unitDigits">
                </div>
                <div class="textInput">
                    <label for="unitConvertFrom">Unit to Convert from</label>
                    <select name="unitConvertFrom" id="unitConvertFrom">
                        <option></option>
                        <option value="°C">Celcius</option>
                        <option value="°F">Fahrenheit</option>
                        <option value="°K">Kelvin</option>
                    </select>
                </div>
                <div class="textInput">
                    <label for="unitConvertTo">Unit to Convert to</label>
                    <select name="unitConvertTo" id="unitConvertTo">
                        <option></option>
                        <option value="°C">Celcius</option>
                        <option value="°F">Fahrenheit</option>
                        <option value="°K">Kelvin</option>
                    </select>
                </div>
                <input id="endButton" type="submit" value="Convert">
            </form>
            <div class="resultBox <%= result? '' : 'close' %>">
                <% if (result) { %>
                    <p>Result of your calculation</p>
                    <p id="resultText"><%= result.unitDigits %><%= result.unitConvertFrom %> = <%= result.resultDigits%><%= result.unitConvertTo%></p>
                    <a id="resetButton" href="/temperature">Reset</a>
                <% } %>
            </div>
        </main>
    </div>
</body>
</html>